.header {
  display: flex;
  align-items: center;
  height: 68px;
  border-bottom: 1px solid var(--color-blue-gray);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 120px;
}

.logo {
  display: flex;
  align-items: center;
}

.navList {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLink {
  color: var(--color-main);
}

.navLink:hover {
  text-decoration: underline;
  color: var(--color-light-blue);
  cursor: pointer;
}
